<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.endlesshelicopter.push.ScoreBeatenFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="org.godotengine.plugin.v2.FcmPushBridge"
            android:value="com.endlesshelicopter.push.FcmPushBridge" />
    </application>
</manifest>
